*{
    font-family: "Poppins", sans-serif;
  }

.section_header{
    padding-top:30px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
}

.aboutMe_Body{
    padding-top:30px;
    padding-left:80px;
    padding-right:80px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .tech_stacks_table{
    padding-top:30px;
    padding-left:80px;
    padding-right:80px;
  }

  table {
    width: auto;
    }

