/*********************Overall*****************************/
*{
  font-size:1.5em; 
  line-height:2.2em; 
  font-family: "Poppins", sans-serif;
}

/*********************Header*****************************/
.btn-circle {
  height: 40x;
  width: 40px;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .header_name {
    font-size:1.0em; 
  }
}
/*********************Body*****************************/
/* Style the navigation menu */
.nav-item {
    flex: 1 1 100%;
    min-width: 0.5px;
    /* border-style: solid; */
}

.nav-link {
    font-style: normal;
    font-weight: 700;
    font-size: auto;
    color: white;
    line-height: 30px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar {
    background-color: #389FCE;
    height: 50px;
}

.iframe_layout{
    border: none;
    height:    100%;
    width:     100%;
    position: absolute;
    overflow: hidden;
}

/*********************Footer*****************************/
