<style>body {
  background-color: white;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1{
  color:#90caf9
}

h2{
  color:#90caf9
}

h3{
  color:#90caf9
}
</style>
