/*********************Overall*****************************/
*{
  font-size:1.5em; 
  line-height:2.2em; 
}

/*********************Header*****************************/
.MyName{
  font-family: "serif";
}

.btn-circle {
  height: 40x;
  width: 40px;
  border-radius: 50%;
}
/*********************Body*****************************/
/*********************Footer*****************************/
